@import "tailwindcss";

.font-hero4{
  font-family: "Poppins", sans-serif;
}
.anim{
  opacity: 0;
  transform: translateY(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.anim1{
  opacity: 0;
  transform: translate3d(30px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}